@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .nav-item {
    background-color: #e7e7e7;
    border-radius: 0.2rem;
    padding: 2px 10px;
  }
  .nav-item .active {
    border-bottom: 2px solid gray;
  }
}
